.yubi-selected {
  position: relative;
}

.yubi-selected::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.2);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}